<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" >
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">pepe</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Prueba pepino</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="prueba" class="control-label"></label>
										<input type="input" name="prueba" value="prueba" class="form-control">
									</div>
									<div class="form-group">
										<label for="prueba" class="control-label"></label>
										<input type="input" name="prueba" value="prueba" class="form-control">
									</div>
									<div class="form-group">
										<label for="prueba" class="control-label"></label>
										<input type="input" name="prueba" value="prueba" class="form-control">
									</div>
									<div class="form-group">
										<label for="prueba" class="control-label"></label>
										<input type="input" name="prueba" value="prueba" class="form-control">
									</div>
									<div class="form-group">
										<label for="prueba" class="control-label"></label>
										<input type="input" name="prueba" value="prueba" class="form-control">
									</div>
									<div class="form-group">
										<label for="prueba" class="control-label"></label>
										<input type="input" name="prueba" value="prueba" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="panel-footer"></div>
					</div>
				</div>
			</div>
		</div>

		<script src="jquery/dist/jquery.js"></script>
		<script src="bootstrap/dist/js/bootstrap.js"></script>
		<!--<script src="js/index.js" charset="utf-8"></script>-->
	</body>
</html>
