<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>WEB GENERATOR</title>

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css" >
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert">pepe</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Web generator</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<form id="new_form">
										<div class="form-group">
											<label for="titulo" class="control-label">Titulo: </label>
											<input type="input" name="titulo" value="Titulo" class="form-control">
										</div>
										<div class="form-group">
											<label for="url" class="control-label">URL: </label>
											<input type="input" name="url" value="www.url.es" class="form-control">
										</div>
										<div class="form-group">
											<label for="image" class="control-label">Imagen: </label>
											<input type="file" name="image" value="">
										</div>
										<div class="form-group">
											<label for="adress" class="control-label">Direcci&oacute;n</label>
											<input type="textarea" name="adress" value="Dirección" class="form-control">
										</div>
										<div class="form-group">
											<label for="map" class="control-label">Url maps: </label>
											<input type="input" name="map" value="" class="form-control">
										</div>
										<div class="form-group">
											<label for="phone" class="control-label">Tel&eacute;fono</label>
											<input type="number" name="phone" value="999999999" class="form-control">
										</div>
										<div class="form-group">
											<label for="add_number" class="control-label">A&nacute;adir numero:</label>
											<input type="button" name="add_number" value="Nuevo Numero" class="form-control">
										</div>
										<button id="generate_web" class="btn btn-default">Generar</button>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-footer"></div>
					</div>
				</div>
			</div>
		</div>

		<script src="jquery/dist/jquery.js"></script>
		<script src="bootstrap/dist/js/bootstrap.js"></script>
		<script src="/socket.io/socket.io.js" charset="utf-8"></script>
		<!--<script src="js/index.js" charset="utf-8"></script>-->
		<script type="text/javascript">
			$(function(){
				var socket = io.connect();

				socket.emit('hi', $('#new_form').serializeArray());
			});
		</script>
	</body>
</html>
